/* Import both fonts */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:wght@100..900&display=swap');
@import "tailwindcss"; 

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: 'Poppins', sans-serif;
  --font-serif: 'Playfair Display', serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Default body font → Poppins */
body {
  font-family: 'Poppins', sans-serif;
}

.Playfair {
  font-family: 'Playfair Display', serif;
}
